@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* body */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
}

::selection {
    background: #0066ff;
    color: #ffffff;
}

.center{
    text-align: center;
}

a{
    color: #0066ff;
}

/* colors */

.white{
    color: white !important;
}

.bg-white{
    background-color: white !important;
}

.grey{
    color: #e6e6e6 !important;
}

.bg-grey{
    background-color: #e6e6e6 !important;
}

.black{
    color: black !important;
}

.bg-black{
    background-color: black !important;
}

.blue{
    color: #0066ff !important;
}

.bg-blue{
    background-color: #0066ff !important;
}

.bg-dark-blue{
    background-color: #004dbf !important;
}

/* shadows */

.sh-0{
    box-shadow: none;
}

.sh-1{
    box-shadow: -0px 1px 2px #00000033;
}

.sh-2{
    box-shadow: -0px 1px 4px #00000033;
}

.sh-3{
    box-shadow: -0px 2px 6px #00000033;
}

.sh-4{
    box-shadow: -0px 4px 8px #00000033;
}

/* rd-0 */

.rd-0{
    border-radius: 0px;
}

.rd-1{
    border-radius: 2px;
}

.rd-2{
    border-radius: 5px;
}

.rd-3{
    border-radius: 10px;
}

/* header */

.header{
    padding: 40px;
    z-index: 2;
    color: white;
    font-size: 40px;
    background-color: #004dbf;
}

@media screen and (max-width: 768px) {.header{display: none;}}

/* menu */

.menu{
    box-sizing: border-box;
    line-height: 50px;
    width: 100%;
    margin-bottom: 50px;
    padding: 0 10px;
    z-index: 2;
    background-color: #0066ff;
    overflow-x: hidden;
    overflow: hidden;
}

.menu a{
    padding: 0 10px;
    font-size: 19px;
    text-decoration: none;
    color: #ffffff99;
    float: left;
}

.menu a:hover{
    color: white;
    cursor: pointer;
}

.menu-active{
    color: white !important;
}

.menu-title{
    color: white !important;
    display: block !important;
}

.menu-transparent{
    background-color: transparent;
    position: absolute;
    box-shadow: none;
}

.menu-transparent a{
    color: #ffffff99;
}

.menu-transparent .menu-active{
    color: #ffffff !important;
}

.menu-transparent .menu-title{
    color: #ffffff;
}

.menu-transparent .more{
    color: #ffffff !important;
}

@media (max-width: 768px) {.menu-transparent.responsive{
    background-color: #0066ff;
}}

.menu-fixed{
    position: fixed;
    margin-bottom: 0;
}

.menu-sticky{
    margin-bottom: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.menu-right a{
    float: right;
}

.menu img{
    height: 20px;
    padding: 15px 0;
}

#smart-menu .more{
    display: none;
    padding: 0 10px;
    font-size: 19px;
    text-decoration: none;
    float: right;
}

#nav-menu .more{
    display: none;
    padding: 0 10px;
    font-size: 19px;
    text-decoration: none;
    float: left;
}

@media (max-width: 768px) {
    #smart-menu a:not(:first-child) {display: none;}
        #smart-menu a.more {
        float: right;
        display: block;
    }
    #smart-menu.responsive {position: relative;}
    #smart-menu.responsive .more {
        position: absolute;
        right: 0;
        top: 0;
    }
    #smart-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #nav-menu a:not(:first-child) {display: none;}
    #nav-menu .more{
        float: left;
        display: block;
    }
}

@media (min-width: 768px) {
    #nav-menu .more{
        display: none !important;
    }
    #nav-menu .menu-title{
        display: none !important;
    }
}

/* navigation */

.navigation{
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    padding: 20px;
    width: 210px;
    color: black;
    background-color: white;
    transform: left .2s;
}

.navigation h2{
    display: block;
    padding: 40px 20px;
    padding-top: 10px;
    margin: 0px;
    line-height: 40px;
}

.navigation a{
    text-decoration: none;
    display: block;
    padding: 0px 20px;
    line-height: 40px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
}

.navigation a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.navigation a:active, .navigation a:visited{
    color: black;
}

.navigation-fixed{
    position: fixed;
}

.navigation-active{
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation-content{
    margin-left: 250px;
}

#smart-navigation{
    left: -250px !important;
}

@media (max-width: 768px) {
    #smart-navigation.responsive{
        left: 0 !important;
    }
}

.navigation-absolute{position: absolute;}
.navigation-absolute div{position: sticky; top: 50px;}

@media (max-width: 768px){.navigation{left: -250px;}}
@media (max-width: 768px){.navigation-content{margin-left: 0;}}
@media (max-width: 992px){.navigation-content .container{width: 100%}}

/* footer */

.footer{
    padding: 5px 0;
}

.footer a{
    color: #00000080;
    float: right;
    padding: 0 2.5px;
    cursor: pointer;
    text-decoration: none;
}

.footer a:first-child{
    float: left;
}

/* container */

.container{
    box-sizing: border-box;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: width .5s;
}

.container h1:first-child,
.container h2:first-child,
.container h3:first-child,
.container h4:first-child,
.container h5:first-child,
.container h6:first-child{
    margin-top: 0;
}

.container-fluid{
    box-sizing: border-box;
    padding: 40px;
}

.article{
    margin-top: 100px;
}

.article p{
    color: #333333;
}

@media (max-width: 767px) {.article{margin: 0; border-radius: 0;}}
@media (max-width: 767px) {.container{width: 100%}}
@media (min-width: 768px) {.container{width: 80%}}
@media (min-width: 992px) {.container{width: 70%}}
@media (min-width: 1200px) {.container{width: 60%}}

/* grids */

.row::after {
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
}
        
[class*="col-"] {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    [class*="col-sm-"] {padding: 0 10px;}
    [class*="col-sm-"]:first-child {padding-left: 0px;}
    [class*="col-sm-"]:last-child {padding-right: 0px;}
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    [class*="col-md-"] {padding: 0 10px;}
    [class*="col-md-"]:first-child {padding-left: 0px;}
    [class*="col-md-"]:last-child {padding-right: 0px;}
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    [class*="col-xl-"] {padding: 0 10px;}
    [class*="col-xl-"]:first-child {padding-left: 0px;}
    [class*="col-xl-"]:last-child {padding-right: 0px;}
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

/* headlines */

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 40px 0px 30px 0px;
}

h1{font-size: 40px; line-height: 40px}
h2{font-size: 25px; line-height: 25px;}
h3{font-size: 20px; line-height: 20px;}
h4{font-size: 18px; line-height: 18px;}
h5{font-size: 15px; line-height: 15px;}
h6{font-size: 10px; line-height: 10px;}

/* box */

.box{
    background-color: #e6e6e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box-example *:first-child{
    margin-top: 0;
}

.box-example *:last-child{
    margin-bottom: 0;
}

/* froms */

input, select, textarea{
    display: block;
    padding: 2px;
    height: 30px;
    margin-bottom: 25px;
    border: solid black 2px;
    border-radius: 5px;
    width: 100%;
}

textarea{
    height: auto;
}

input[type=submit]{
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* code elements */

code{
    
}

pre{
    font-family: "consolas";
}

var{
    font-family: serif;
    font-style: italic;
}

kbd{
    
}

samp{
    
}

.button{
    background-color: #0066ff;
    color: white;
    padding: 15px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

/* components */

img{
    max-width: 100%;
    width: 100%;
    object-fit: scale-down;
}

p{
    margin-bottom: 30px;
}