@import url(font_roboto/roboto.css);
@import url(font_roboto_mono/roboto-mono.css);

/********************
*   General Style   *
********************/

:root {
    --theme-primary-color: #0033ff;
    --theme-secondary-color: #0024b3;
    --theme-background-color: #ffffff;
    --theme-primary-grey-color: #e0e0e0;
    --theme-secondary-grey-color: #c2c2c2;
    --theme-text-color: #000000;
    --theme-text-grey-color: #666666;
    --theme-font-family: Roboto, sans-serif;
    --theme-border-radius: 5px;
    --theme-border-width: 3px;
    --theme-box-shadow: none;
    --theme-element-spacing: 30px;
    --theme-inner-element-spacing: 20px;
    --theme-menu-height: calc(1em + 2 * round(0.2em, 2px) + 2 * round(0.5em, 2px));
    --theme-navigation-width: 250px;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    font-family: var(--theme-font-family);
    font-size: 18px;
    line-height: round(1.7em, 1px);
    letter-spacing: 0.01em;
    scroll-behavior: smooth;
}

::selection {
    background: var(--theme-primary-color);
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

/*****************************
*   Darkmode and Lightmode   *
*****************************/

@media (prefers-color-scheme: light) {
    :root {
        --theme-background-color: #ffffff;
        --theme-primary-grey-color: #e0e0e0;
        --theme-secondary-grey-color: #c2c2c2;
        --theme-text-color: #000000;
        --theme-text-grey-color: #666666;
    }
    .only-darkmode:not(.darkmode, .darkmode *) { display: none }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-background-color: #000000;
        --theme-primary-grey-color: #1f1f1f;
        --theme-secondary-grey-color: #3d3d3d;
        --theme-text-color: #ffffff;
        --theme-text-grey-color: #999999;
    }
    .only-lightmode:not(.lightmode, .lightmode *) { display: none }
}

.lightmode {
    --theme-background-color: #ffffff;
    --theme-primary-grey-color: #e0e0e0;
    --theme-secondary-grey-color: #c2c2c2;
    --theme-text-color: #000000;
    --theme-text-grey-color: #666666;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
}
.lightmode .only-darkmode { display: none }

.darkmode {
    --theme-background-color: #000000;
    --theme-primary-grey-color: #1f1f1f;
    --theme-secondary-grey-color: #3d3d3d;
    --theme-text: #ffffff;
    --theme-text-grey-color: #999999;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
}
.darkmode .only-lightmode { display: none }

/****************
*   Headlines   *
****************/

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2em;
    margin: calc(var(--theme-element-spacing) * 2) 0 var(--theme-element-spacing) 0;
    scroll-margin-top: calc(var(--theme-menu-height) + var(--theme-element-spacing));
}

h1 { font-size: 2.5em }
h2 { font-size: 2em }
h3 { font-size: 1.5em }
h4 { font-size: 1.2em }
h5 { font-size: 1em; font-weight: bold }
h6 { font-size: 0.8em; letter-spacing: 1px; font-weight: bold; text-transform: uppercase }

swd-subtitle {
    display: block;
    font-size: 0.6em;
    color: var(--theme-text-grey-color);
}

/********************
*   Text Elements   *
********************/

a {
    cursor: pointer;
    color: var(--theme-primary-color);
}

a:hover, a[selected] {
    text-decoration: underline;
}

p {
    margin: 0px;
    margin-bottom: var(--theme-element-spacing);
}

ol, ul {
    padding-left: 20px;
    margin: 0px;
    margin-bottom: var(--theme-element-spacing);
}

ol li, ul li {padding-bottom: 0px}
ol li:last-child, ul li:last-child { padding-bottom: 0 }

/************
*   Label   *
************/

label {
    height: fit-content;
    line-height: round(1.2em, 1px);
    padding: round(0.2em, 1px) round(0.8em, 1px);
    background-color: var(--theme-primary-grey-color);
    border-radius: 1em;
}

samp {
    height: fit-content;
    line-height: round(1.2em, 1px);
    padding: round(0.2em, 1px) round(0.4em, 1px);
    font-family: 'Roboto Mono', monospace;
    background-color: var(--theme-primary-grey-color);
    border-radius: var(--theme-border-radius);
}

kbd {
    font-family: 'Roboto Mono', monospace;
    height: fit-content;
    line-height: round(1.2em, 1px);
    padding: calc(round(0.2em, 1px) - 1px) round(0.2em, 1px);
    font-family: 'Roboto Mono', monospace;
    border-radius: var(--theme-border-radius);
    border: solid 1px var(--theme-text-color);
}

.tooltip {
    height: fit-content;
    line-height: round(1.2em, 1px);
    padding: round(0.2em, 1px) round(0.4em, 1px);
    background-color: color-mix(in srgb, var(--theme-text-color) 70%, transparent);
    color: var(--theme-background-color);
    border-radius: var(--theme-border-radius);
}

/***********
*   Code   *
***********/

code, pre {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 25px;
    background-color: var(--theme-primary-grey-color);
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: var(--theme-border-radius);
    margin-bottom: var(--theme-element-spacing);
}

code:hover, pre:hover {
    overflow: auto;
}

var {
    font-family: serif;
    font-style: italic;
    font-size: 18px;
    white-space: nowrap;
}

/************
*   Table   *
************/

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: var(--theme-border-radius);
    margin-bottom: var(--theme-element-spacing);
}

table tr th {
    background-color: var(--theme-primary-grey-color);
    padding: 6px 8px;
    min-width: 60px;
    font-weight: normal;
    border-color: var(--theme-primary-grey-color);
}

table td, th {
    padding: 6px 8px;
    text-align: left;
    border: solid var(--theme-border-width) var(--theme-primary-grey-color);
}

/************
*   Media   *
************/

img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    margin-bottom: var(--theme-element-spacing);
}

video {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
    object-fit: scale-down;
    margin-bottom: var(--theme-element-spacing);
}

iframe {
    width: 100%;
    height: 100%;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: var(--theme-element-spacing);
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

audio {
    width: 100%;
    margin-bottom: var(--theme-element-spacing);
}

/*********************
*   Button & Input   *
*********************/

button, input, select, textarea {
    box-sizing: border-box;
    height: fit-content;
    line-height: round(1.2em, 1px);
    min-width: round(2.2em, 1px);
    line-height: round(1.2em, 1px);
    padding: calc(round(0.5em, 1px) - var(--theme-border-width)) calc(round(0.6em, 1px) - var(--theme-border-width));
    font-family: var(--theme-font-family);
    font-size: var(--theme-font-size);
    color: var(--theme-text-color);
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: solid var(--theme-border-width) transparent;
    border-radius: var(--theme-border-radius);
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
    --theme-primary-color: var(--theme-primary-grey-color) !important;
    --theme-text-color: var(--theme-text-grey-color) !important;
    cursor: no-drop;
}

/*************
*   Button   *
*************/

button, input[type="submit"] {
    cursor: pointer;
}

button:not(.outline, .ghost), input[type="submit"]:not(.outline, .ghost) {
    background-color: var(--theme-primary-color);
    --theme-text-color: white;
    color: var(--theme-text-color);
}

button:not(.outline, .ghost, :disabled):hover, button:not(.outline, .ghost, :disabled):focus, button:not(.outline, .ghost, :disabled):active, button:not(.outline, .ghost, :disabled)[selected], 
input[type="submit"]:not(.outline, .ghost, :disabled):hover, input[type="submit"]:not(.outline, .ghost, :disabled):focus, input[type="submit"]:not(.outline, .ghost, :disabled):active, input[type="submit"]:not(.outline, .ghost, :disabled)[selected] {
    background-color: var(--theme-secondary-color);
}

button.outline, input[type="submit"].outline {
    background-color: transparent;
    color: var(--theme-text-color);
    border-color: var(--theme-primary-color);
}

button.outline:not(:disabled):hover, button.outline:not(:disabled):focus, button.outline:not(:disabled):active, button.outline:not(:disabled)[selected], 
input[type="submit"].outline:not(:disabled):hover, input[type="submit"].outline:not(:disabled):focus, input[type="submit"].outline:not(:disabled):active, input[type="submit"].outline:not(:disabled)[selected] {
    background-color: var(--theme-primary-color);
    --theme-text-color: white;
}

button.ghost, input[type="submit"].ghost {
    background-color: transparent;
    color: var(--theme-text-color);
}

button.ghost:not(:disabled):hover, button.ghost:not(:disabled):focus, button.ghost:not(:disabled):active, button:not(:disabled).ghost[selected], 
input[type="submit"].ghost:not(:disabled):hover, input[type="submit"].ghost:not(:disabled):focus, input[type="submit"].ghost:not(:disabled):active, input[type="submit"].ghost:not(:disabled)[selected] {
    background-color: var(--theme-primary-grey-color);
}

/************
*   Input   *
************/

input:not(.outline, .ghost), select:not(.outline, .ghost), textarea:not(.outline, .ghost) {
    padding: round(0.5em, 1px) round(0.5em, 1px) calc(round(0.5em, 1px) - var(--theme-border-width)) round(0.5em, 1px);
    border: none;
    background-color: var(--theme-primary-grey-color);
    border-bottom: solid var(--theme-border-width) var(--theme-secondary-grey-color);
}

input.outline, select.outline, textarea.outline {
    background-color: var(--theme-primary-grey-color);
    border-color: var(--theme-secondary-grey-color);
}

input.ghost, select.ghost, textarea.ghost {
    background-color: transparent;
}

input:focus, select:focus, textarea:focus, input[selected], select[selected], textarea[selected] {
    border-color: var(--theme-primary-color);
}

/***********
*   Menu   *
***********/

swd-menu {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    box-sizing: border-box;
    top: 0px;
    padding: round(0.25em, 1px) round(0.6em, 1px);
    background-color: var(--theme-primary-color);
    z-index: 3;
    overflow: hidden;
}

swd-menu:hover { overflow: auto }

swd-menu a {
    line-height: round(1.2em, 1px);
    padding: round(0.5em, 1px) round(0.6em, 1px);
    text-decoration: none !important;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    color: #ffffff80;
    border-radius: var(--theme-border-radius);
}

swd-menu a.swd-menu-title {
    font-weight: bold;
    color: white;
}

swd-menu a:hover:not(.swd-menu-title), 
swd-menu a:active:not(.swd-menu-title), 
swd-menu a[selected]:not(.swd-menu-title) {
    color: #ffffff;
}

/*****************
*   Navigation   *
*****************/

swd-navigation {
    display: flex;
    position: fixed;
    flex-direction: column;
    box-sizing: border-box;
    padding: var(--theme-inner-element-spacing);
    gap: var(--theme-inner-element-spacing);
    width: 250px;
    height: calc(100% - var(--theme-menu-height));
    background-color: var(--theme-primary-grey-color);
    z-index: 2;
    overflow: hidden;
}

swd-navigation:hover { overflow-y: auto }

swd-navigation a {
    display: block;
    box-sizing: border-box;
    text-decoration: none !important;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: var(--theme-text-color);
    line-height: round(1.2em, 1px);
    padding: round(0.5em, 1px) round(0.6em, 1px);
    width: 100%;
    border-radius: var(--theme-border-radius);
}

swd-navigation a.swd-navigation-title {
    padding: round(0.25em, 1px) 0;
    font-weight: bold;
    cursor: default;
}

swd-navigation a:hover:not(.swd-navigation-title), 
swd-navigation a:active:not(.swd-navigation-title), 
swd-navigation a[selected]:not(.swd-navigation-title) {
    background-color: var(--theme-secondary-grey-color);
}

swd-navigation-content {
    display: block;
    margin-left: var(--theme-navigation-width);
}

/***********
*   Card   *
***********/

swd-card, swd-card-outline, swd-card-ghost .swd-card-frame {
    display: block;
    box-sizing: border-box;
    height: fit-content;
    gap: var(--theme-inner-element-spacing);
    color: var(--theme-text-color);
    border-radius: var(--theme-border-radius);
    margin-bottom: var(--theme-element-spacing);
}

swd-card {
    padding: var(--theme-inner-element-spacing);
    background-color: var(--theme-primary-grey-color);
}

swd-card-outline {
    padding: calc(var(--theme-inner-element-spacing) - var(--theme-border-width));
    border: solid var(--theme-border-width) var(--theme-primary-grey-color);
}

swd-card-ghost { padding: var(--theme-element-spacing) }

swd-card.swd-card-hover:hover { cursor: pointer; background-color: var(--theme-secondary-grey-color) }
swd-card-outline.swd-card-hover:hover { cursor: pointer; border-color: var(--theme-secondary-grey-color) }

[class*="overlay-"] {
    color: white;
    position: relative;
    height: fit-content;
    width: fit-content;
}

[class*="overlay-"] > :last-child {
    position: absolute;
    box-sizing: border-box;
}

.overlay-top-left > :last-child { top: var(--theme-inner-element-spacing); left: var(--theme-inner-element-spacing) }
.overlay-top-right > :last-child { top: var(--theme-inner-element-spacing); right: var(--theme-inner-element-spacing) }
.overlay-bottom-left > :last-child { bottom: var(--theme-inner-element-spacing); left: var(--theme-inner-element-spacing) }
.overlay-bottom-right > :last-child { bottom: var(--theme-inner-element-spacing); right: var(--theme-inner-element-spacing) }
.overlay-center > :last-child { top: 50%; left: 50%; transform: translate(-50%, -50%) }

/*************
*   Dialog   *
*************/

swd-dialog {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: calc(var(--theme-element-spacing) / 2);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
}

swd-dialog > * { max-width: 400px; }
swd-dialog:not([shown]) { display: none }

/****************
*   Container   *
****************/

[class*="container-"] {
    box-sizing: border-box;
    padding: calc(var(--theme-element-spacing) * 2);
    margin: 0px auto;
    width: 100%;
}

.container-sm { max-width: 576px }
.container-md { max-width: 768px }
.container-lg { max-width: 992px }
.container-xl { max-width: 1200px }
.container-xxl { max-width: 1400px }
.container-fluid { max-width: 100% }

@media only screen and (max-width: 575px) { [class*="container-"] { padding: calc(var(--theme-element-spacing)) }}

/***********
*   Grid   *
************/

[class*="grid-cols-"] {
    display: grid;
    gap: var(--theme-element-spacing);
    height: max-content;
    margin-bottom: var(--theme-element-spacing);
}

[class*="grid-cols-"].grid-auto-height { height: auto }

.grid-cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
.grid-cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
.grid-cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
.grid-cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
.grid-cols-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
.grid-cols-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
.grid-cols-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
.grid-cols-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
.grid-cols-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
.grid-cols-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
.grid-cols-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
.grid-cols-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
.grid-span-1 {grid-column: span 1 }
.grid-span-2 {grid-column: span 2 }
.grid-span-3 {grid-column: span 3 }
.grid-span-4 {grid-column: span 4 }
.grid-span-5 {grid-column: span 5 }
.grid-span-6 {grid-column: span 6 }
.grid-span-7 {grid-column: span 7 }
.grid-span-8 {grid-column: span 8 }
.grid-span-9 {grid-column: span 9 }
.grid-span-10 {grid-column: span 10 }
.grid-span-11 {grid-column: span 11 }
.grid-span-12 {grid-column: span 12 }

@media only screen and (min-width: 576px) {
    .grid-cols-sm-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
    .grid-cols-sm-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
    .grid-cols-sm-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
    .grid-cols-sm-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
    .grid-cols-sm-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
    .grid-cols-sm-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
    .grid-cols-sm-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
    .grid-cols-sm-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
    .grid-cols-sm-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
    .grid-cols-sm-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
    .grid-cols-sm-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
    .grid-cols-sm-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
    .grid-span-sm-1 {grid-column: span 1 }
    .grid-span-sm-2 {grid-column: span 2 }
    .grid-span-sm-3 {grid-column: span 3 }
    .grid-span-sm-4 {grid-column: span 4 }
    .grid-span-sm-5 {grid-column: span 5 }
    .grid-span-sm-6 {grid-column: span 6 }
    .grid-span-sm-7 {grid-column: span 7 }
    .grid-span-sm-8 {grid-column: span 8 }
    .grid-span-sm-9 {grid-column: span 9 }
    .grid-span-sm-10 {grid-column: span 10 }
    .grid-span-sm-11 {grid-column: span 11 }
    .grid-span-sm-12 {grid-column: span 12 }
}

@media only screen and (min-width: 768px) {
    .grid-cols-md-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
    .grid-cols-md-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
    .grid-cols-md-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
    .grid-cols-md-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
    .grid-cols-md-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
    .grid-cols-md-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
    .grid-cols-md-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
    .grid-cols-md-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
    .grid-cols-md-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
    .grid-cols-md-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
    .grid-cols-md-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
    .grid-cols-md-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
    .grid-span-md-1 {grid-column: span 1 }
    .grid-span-md-2 {grid-column: span 2 }
    .grid-span-md-3 {grid-column: span 3 }
    .grid-span-md-4 {grid-column: span 4 }
    .grid-span-md-5 {grid-column: span 5 }
    .grid-span-md-6 {grid-column: span 6 }
    .grid-span-md-7 {grid-column: span 7 }
    .grid-span-md-8 {grid-column: span 8 }
    .grid-span-md-9 {grid-column: span 9 }
    .grid-span-md-10 {grid-column: span 10 }
    .grid-span-md-11 {grid-column: span 11 }
    .grid-span-md-12 {grid-column: span 12 }
}

@media only screen and (min-width: 992px) {
    .grid-cols-lg-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
    .grid-cols-lg-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
    .grid-cols-lg-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
    .grid-cols-lg-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
    .grid-cols-lg-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
    .grid-cols-lg-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
    .grid-cols-lg-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
    .grid-cols-lg-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
    .grid-cols-lg-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
    .grid-cols-lg-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
    .grid-cols-lg-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
    .grid-cols-lg-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
    .grid-span-lg-1 {grid-column: span 1 }
    .grid-span-lg-2 {grid-column: span 2 }
    .grid-span-lg-3 {grid-column: span 3 }
    .grid-span-lg-4 {grid-column: span 4 }
    .grid-span-lg-5 {grid-column: span 5 }
    .grid-span-lg-6 {grid-column: span 6 }
    .grid-span-lg-7 {grid-column: span 7 }
    .grid-span-lg-8 {grid-column: span 8 }
    .grid-span-lg-9 {grid-column: span 9 }
    .grid-span-lg-10 {grid-column: span 10 }
    .grid-span-lg-11 {grid-column: span 11 }
    .grid-span-lg-12 {grid-column: span 12 }
}

@media only screen and (min-width: 1200px) {
    .grid-cols-xl-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
    .grid-cols-xl-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
    .grid-cols-xl-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
    .grid-cols-xl-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
    .grid-cols-xl-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
    .grid-cols-xl-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
    .grid-cols-xl-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
    .grid-cols-xl-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
    .grid-cols-xl-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
    .grid-cols-xl-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
    .grid-cols-xl-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
    .grid-cols-xl-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
    .grid-span-xl-1 {grid-column: span 1 }
    .grid-span-xl-2 {grid-column: span 2 }
    .grid-span-xl-3 {grid-column: span 3 }
    .grid-span-xl-4 {grid-column: span 4 }
    .grid-span-xl-5 {grid-column: span 5 }
    .grid-span-xl-6 {grid-column: span 6 }
    .grid-span-xl-7 {grid-column: span 7 }
    .grid-span-xl-8 {grid-column: span 8 }
    .grid-span-xl-9 {grid-column: span 9 }
    .grid-span-xl-10 {grid-column: span 10 }
    .grid-span-xl-11 {grid-column: span 11 }
    .grid-span-xl-12 {grid-column: span 12 }
}

@media only screen and (min-width: 1400px) {
    .grid-cols-xxl-1 { grid-template-columns: repeat(1, minmax(0, 1fr)) }
    .grid-cols-xxl-2 { grid-template-columns: repeat(2, minmax(0, 1fr)) }
    .grid-cols-xxl-3 { grid-template-columns: repeat(3, minmax(0, 1fr)) }
    .grid-cols-xxl-4 { grid-template-columns: repeat(4, minmax(0, 1fr)) }
    .grid-cols-xxl-5 { grid-template-columns: repeat(5, minmax(0, 1fr)) }
    .grid-cols-xxl-6 { grid-template-columns: repeat(6, minmax(0, 1fr)) }
    .grid-cols-xxl-7 { grid-template-columns: repeat(7, minmax(0, 1fr)) }
    .grid-cols-xxl-8 { grid-template-columns: repeat(8, minmax(0, 1fr)) }
    .grid-cols-xxl-9 { grid-template-columns: repeat(9, minmax(0, 1fr)) }
    .grid-cols-xxl-10 { grid-template-columns: repeat(10, minmax(0, 1fr)) }
    .grid-cols-xxl-11 { grid-template-columns: repeat(11, minmax(0, 1fr)) }
    .grid-cols-xxl-12 { grid-template-columns: repeat(12, minmax(0, 1fr)) }
    .grid-span-xxl-1 {grid-column: span 1 }
    .grid-span-xxl-2 {grid-column: span 2 }
    .grid-span-xxl-3 {grid-column: span 3 }
    .grid-span-xxl-4 {grid-column: span 4 }
    .grid-span-xxl-5 {grid-column: span 5 }
    .grid-span-xxl-6 {grid-column: span 6 }
    .grid-span-xxl-7 {grid-column: span 7 }
    .grid-span-xxl-8 {grid-column: span 8 }
    .grid-span-xxl-9 {grid-column: span 9 }
    .grid-span-xxl-10 {grid-column: span 10 }
    .grid-span-xxl-11 {grid-column: span 11 }
    .grid-span-xxl-12 {grid-column: span 12 }
}

/***********
*   Flex   *
***********/

.flex {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: var(--theme-element-spacing);
    margin-bottom: var(--theme-element-spacing);
}

.flex-wrap { flex-wrap: wrap }
.flex-end { justify-content: flex-end }
.flex-space-around { justify-content: space-around }
.flex-space-between { justify-content: space-between }

/***********************
*   Group Selections   *
***********************/

swd-router {
    display: contents;
}

[class*="grid-cols-"].no-gap, .flex.no-gap {
    gap: 0px;
}

[class*="grid-cols-"] > *,
.flex > *,
[class*="overlay-"] > * { 
    margin: 0 
}

[class*="container-"] > :first-child,
swd-card > :first-child, swd-card-outline > :first-child, swd-card-ghost > :first-child, swd-card-frame > :first-child {
    margin-top: 0 
}

[class*="container-"] > :last-child,
swd-card > :last-child, swd-card-outline > :last-child,swd-card-ghost > :last-child, swd-card-frame > :last-child {
    margin-bottom: 0
}

swd-navigation *,
swd-card *, swd-card-outline *, swd-card-ghost *, swd-card-frame *,
[class*="overlay-"] * {
    --theme-element-spacing: var(--theme-inner-element-spacing);
}

code[hidden], pre[hidden], swd-subtitle[hidden],
swd-menu[hidden], swd-menu swd-title[hidden], swd-menu a[hidden],
swd-navigation[hidden], swd-navigation swd-title[hidden], swd-navigation a[hidden],
swd-card[hidden], swd-card-outline[hidden], swd-card-ghost[hidden], .swd-card-frame[hidden],
swd-dialog [hidden] {
    display: none;
}

swd-navigation *, swd-card * {
    --theme-primary-grey-color: var(--theme-secondary-grey-color);
}

/**********************
*   Utility Classes   *
**********************/

.width-100 { width: 100% }

@media screen and (max-width: 768px) {.not-mobile {display: none !important}}
@media screen and (min-width: 769px) {.only-mobile {display: none !important}}

.left-item { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; margin-right: 0 !important; }
.right-item { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; margin-left: 0 !important; }
.top-item { border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important; margin-bottom: 0 !important; }
.bottom-item { border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; margin-top: 0 !important; }
.center-item { border-radius: 0px !important; margin: 0; }

/*********************
*   Margin Utility   *
*********************/

.margin { margin: var(--theme-element-spacing) }
.margin-top { margin-top: var(--theme-element-spacing) }
.margin-left { margin-left: var(--theme-element-spacing) }
.margin-right { margin-right: var(--theme-element-spacing) }
.margin-bottom { margin-bottom: var(--theme-element-spacing) }

.margin-0 { margin: 0 }
.margin-top-0 { margin-top: 0 }
.margin-left-0 { margin-left: 0 }
.margin-right-0 { margin-right: 0 }
.margin-bottom-0 { margin-bottom: 0 }

.margin-auto { margin-left: auto; margin-right: auto }
.margin-left-auto { margin-left: auto }
.margin-right-auto { margin-right: auto }

/*******************
*   Text Utility   *
*******************/

.text-left { text-align: start }
.text-right { text-align: end }
.text-center { text-align: center }
.text-uppercase { text-transform: uppercase }
.text-lowercase { text-transform: lowercase }
.text-underline { text-decoration: underline }
.text-line-through { text-decoration: line-through }
.text-nowrap { white-space: nowrap }
.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap }