<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#003ecc">
        <link href="/SimpleWebDesign/resources/style.css" rel="stylesheet">
        <script src="/SimpleWebDesign/resources/script.js"></script>
        <link href="/SimpleWebDesign/resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>

        <swd-menu>
            <a class="swd-menu-title">Simple Web Design</a>
            <a>Customization</a>
            <a>Components</a>
        </swd-menu>

        <swd-navigation>
            <a class="swd-navigation-title">Navigation</a>
            <a>Layout</a>
            <a>Layout...</a>
            <a>Layout...</a>
            <a>Layout...</a>
            <a>Layout...</a>
            <a>Layoutttttttttttttttttttttttttttttttttttttttttttttt</a>
            <a>Layout...</a>
            <a class="swd-navigation-title"></a>
            <a>Layout...</a>
        </swd-navigation>

        <swd-navigation-content>
            <div class="container-xxl">
                lala
            </div>
        </swd-navigation-content>

    </body>
</html>