<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#003ecc">
        <link href="/SimpleWebDesign/resources/style.css" rel="stylesheet">
        <script src="/SimpleWebDesign/resources/script.js"></script>
        <link href="/SimpleWebDesign/resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>

        <swd-menu>
            <a class="swd-menu-title" href="/SimpleWebDesign">Simple Web Design</a>
            <a href="/SimpleWebDesign/customization">Customization</a>
            <a selected>Components</a>
            <a href="/SimpleWebDesign/functions">Functions</a>
        </swd-menu>

        <swd-navigation>
            <a class="swd-navigation-title">Navigation</a>
            <div>
                <a>Layout</a>
                <a>Layout...</a>
                <a>Layout...</a>
                <a>Layout...</a>
                <a>Layout...</a>
                <a>Layoutttttttttttttttttttttttttttttttttttttttttttttt</a>
                <a>Layout...</a>
            </div>
            <div>
                <a>Layout...</a>
            </div>
        </swd-navigation>

        <swd-navigation-content>
            <div class="container-xl">
                
                <h2>Get started</h2>
                <h2>Layout</h2>
                <h2>Menu</h2>
                <h2>Navigation</h2>
                <h2>Headline</h2>

                <table>
                    <tr><th>Headlines</th></tr>
                    <tr><td><h1 class="margin-0">Headline 1</h1></td></tr>
                    <tr><td><h2 class="margin-0">Headline 2</h2></td></tr>
                    <tr><td><h3 class="margin-0">Headline 3</h3></td></tr>
                    <tr><td><h4 class="margin-0">Headline 4</h4></td></tr>
                    <tr><td><h5 class="margin-0">Headline 5</h5></td></tr>
                    <tr><td><h6 class="margin-0">Headline 6</h6></td></tr>
                </table>

                <code>
                    &lt;h1&gt;Headline 1&lt;/h1&gt;<br>
                    &lt;h2&gt;Headline 2&lt;/h2&gt;<br>
                    &lt;h3&gt;Headline 3&lt;/h3&gt;<br>
                    &lt;h4&gt;Headline 4&lt;/h4&gt;<br>
                    &lt;h5&gt;Headline 5&lt;/h5&gt;<br>
                    &lt;h6&gt;Headline 6&lt;/h6&gt;
                </code>

                <h2>Text</h2>
                <h2>Label</h2>

                <div class="margin-bottom">
                    <label>Label</label>
                    <label>Label</label>
                    <label>Label</label>
                    <samp>Code</samp>
                    <kbd>Key</kbd>
                </div>

                <code>
                    &lt;label&gt;Label&lt;/label&gt;<br>
                    &lt;label&gt;Label&lt;/label&gt;<br>
                    &lt;label&gt;Label&lt;/label&gt;<br>
                    &lt;samp&gt;Code&lt;/samp&gt;<br>
                    &lt;kbd&gt;Key&lt;/kbd&gt;
                </code>

                <h2>Button</h2>
                <h2>Dropdown</h2>
                <h2>Input</h2>
                <h2>Card</h2>
                <h2>Table</h2>
                <h2>Media</h2>
                <h2>Dialog</h2>
                <h2>Notification</h2>
                <h2>Code</h2>

                <code>
                    @Override<br>
                    public static void main(String args[]) {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello World");<br>
                    }
                </code>

                <code>
                    &lt;code&gt;&lt;!-- Insert code here --&gt;&lt;/code&gt;<br><br>
                    &lt;!-- Use pre if you want to keep linebrakes and spaces --&gt;<br>
                    &lt;pre&gt;&lt;!-- Insert code here --&gt;&lt;/pre&gt;
                </code>

                <h2>Variables</h2>

                <table>
                    <tr><th>Variable</th><th>Default</th></tr>
                    <tr><td><samp>--theme-font-family</pre></td><td><samp>Roboto, sans-serif</samp></td></tr>
                    <tr><td><samp>--theme-font-size</pre></td><td><samp>18px</samp></td></tr>
                    <tr><td><samp>--theme-line-height</pre></td><td><samp>30px</samp></td></tr>
                    <tr><td><samp>--theme-border-radius</pre></td><td><samp>5px</samp></td></tr>
                    <tr><td><samp>--theme-border-width</pre></td><td><samp>3px</samp></td></tr>
                    <tr><td><samp>--theme-menu-height</pre></td><td><samp>50px</samp></td></tr>
                    <tr><td><samp>--theme-navigation-width</pre></td><td><samp>250px</samp></td></tr>
                    <tr><td><samp>--theme-box-shadow</pre></td><td><samp>none</samp></td></tr>
                </table>

                <h2>Utillity Classes</h2>

                <table>
                    <tr><th>Class</th><th>Property</th></tr>
                    <tr><td><samp>not-mobile</pre></td><td>Only displays with maximum size of 768px</td></tr>
                    <tr><td><samp>only-mobile</pre></td><td>Only displays with minimum size of 769px</td></tr>
                </table>

                <table>
                    <tr><th>Class</th><th>Property</th></tr>
                    <tr><td><samp>margin</pre></td><td><samp>margin: var(--theme-element-spacing)</samp></td></tr>
                    <tr><td><samp>margin-0</pre></td><td><samp>margin: 0</samp></td></tr>
                    <tr><td><samp>margin-0</pre></td><td><samp>margin-top: var(--theme-element-spacing)</samp></td></tr>
                    <tr><td><samp>margin-top</pre></td><td><samp>margin-left: var(--theme-element-spacing)</samp></td></tr>
                    <tr><td><samp>margin-left</pre></td><td><samp>margin-right: var(--theme-element-spacing)</samp></td></tr>
                    <tr><td><samp>margin-right</pre></td><td><samp>margin-bottom: var(--theme-element-spacing)</samp></td></tr>
                    <tr><td><samp>margin-bottom</pre></td><td><samp>margin-top: 0</samp></td></tr>
                    <tr><td><samp>margin-top-0</pre></td><td><samp>margin-left: 0</samp></td></tr>
                    <tr><td><samp>margin-left-0</pre></td><td><samp>margin-right: 0</samp></td></tr>
                    <tr><td><samp>margin-right-0</pre></td><td><samp>margin-bottom: 0</samp></td></tr>
                </table>

            </div>
        </swd-navigation-content>

    </body>
</html>