<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#003ecc">
        <link href="../resources/style.css" rel="stylesheet">
        <script src="../resources/script.js"></script>
        <link href="../resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>
        
        <div class="menu">
            <a class="menu-title" href="../">Simple Web Design</a>
            <a class="menu-active" href="">Components</a>
            <a href="../colors">Colors</a>
            <a href="../templates">Templates</a>
        </div>
        
        <div class="navigation">
            <h2>Navigation</h2>
            <a href="#getstarted">Get started</a>
            <a href="#layout">Layout</a>
            <a href="#menu">Menu</a>
            <a href="#headlines">Navigation</a>
            <a href="#boxes">Boxes</a>
            <a href="#image">Image</a>
            <a href="#video">Video</a>
            <a href="#audio">Audio</a>
            <a href="#media">Media</a>
            <a href="#labels">Labels</a>
            <a href="#code">Code</a>
            <a href="#pre">Pre (Console)</a>
            <a href="#var">Var (Formula)</a>
            <a href="#table">Table</a>
            <a href="#list">List</a>
            <a href="#form">Form</a>
        </div>
        <div class="navigation-content">
            <div class="container">
                
                <h2 id="getstarted">Get started</h2>
                
                <p>Download the <a href="../resources/style.css" download>Stylesheet</a> and the <a href="../resources/script.js" download>Javascript</a> file. Then create a .html file, using the following template!</p>
                
                <code>
                    &lt;!DOCTYPE html&gt;<br>
                    &lt;html&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;head&gt;<br>
                    
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;meta charset="utf-8"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;meta name="theme-color" content="#003ecc"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;link href="style.css" rel="stylesheet"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;script src="script.js"&gt;&lt;/script&gt;<br>
                    
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;title&gt;Template&lt;/title&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;/head&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;body&gt;<br><br>
                    &ensp;&ensp;&ensp;&ensp;&lt;/body&gt;<br>
                    &lt;/html&gt;<br>
                </code>
                
                <h2 id="layout">Layout</h2>

                <div class="box">
                    <div class="container box blue" style="width: 50%;">container</div>
                </div>

                <div class="box">
                    <div class="box blue">container-flex</div>
                </div>

                <div class="box">
                    <div class="gallery-3">
                        <div class="box blue" style="margin-bottom: 0px;">Gallery</div>
                        <div class="box green" style="margin-bottom: 0px;">Gallery</div>
                        <div class="box yellow" style="margin-bottom: 0px;">Gallery</div>
                    </div>
                </div>

                <code>
                    &lt;div class="container"&gt;container&lt;/div&gt;<br>
                    &lt;div class="container-flex"&gt;container&lt;/div&gt;<br>
                    &lt;div class="gallery-3"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;div class="box blue"&gt;Gallery&lt;/div&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;div class="box green"&gt;Gallery&lt;/div&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;div class="box yellow"&gt;Gallery&lt;/div&gt;<br>
                    &lt;/div&gt;<br>
                </code>
                
                <h2 id="menu">Menu</h2>
                
                <h2 id="navigation">Navigation</h2>
                
                <h2 id="headlines">Headlines</h2>
                
                <h1 style="margin: 30px 0px 20px 0px;">Headline 1</h1>
                <h2 style="margin: 30px 0px 20px 0px;">Headline 2</h2>
                <h3 style="margin: 30px 0px 20px 0px;">Headline 3</h3>
                <h4 style="margin: 30px 0px 20px 0px;">Headline 4</h4>
                <h5 style="margin: 30px 0px 20px 0px;">Headline 5</h5>
                <h6 style="margin: 30px 0px 20px 0px;">Headline 6</h6>
                
                <code>
                    &lt;h1&gt;Headline 1&lt;/h1&gt;<br>
                    &lt;h2&gt;Headline 2&lt;/h2&gt;<br>
                    &lt;h3&gt;Headline 3&lt;/h3&gt;<br>
                    &lt;h4&gt;Headline 4&lt;/h4&gt;<br>
                    &lt;h5&gt;Headline 5&lt;/h5&gt;<br>
                    &lt;h6&gt;Headline 5&lt;/h6&gt;<br>
                </code>
                
                <h2 id="boxes">Boxes</h2>
                
                <div class="box">This is a box!</div>
                <div class="box box-border blue">This is a box!</div>
                <div class="box box-top blue">Box</div>
                <div class="box box-bottom">This is a box!</div>
                
                <div class="row">
                    <div class="col-xl-4">
                        <div><div class="box box-top" style="background-image: url(../resources/Image.jpg); height: 40px;"></div><div class="box box-bottom">This is a box with a picture</div></div>
                    </div>
                    <div class="col-xl-4">
                        <div class="box" style="background-image: url(../resources/Image.jpg); min-height: 80px;">This is also a box with a picture</div>
                    </div>
                    <div class="col-xl-4">
                        <div class="box">This is a Box</div>
                    </div>
                </div>
                
                <div class="box red">Error: Please try again!</div>
                
                <code>
                    &lt;div class="box"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;This is a box!<br>
                    &lt;/div&gt;<br>
                    <br>
                    &lt;div class="box box-border blue"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;This is a box!<br>
                    &lt;/div&gt;<br>
                    <br>
                    &lt;div class="box box-top blue"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Box<br>
                    &lt;/div&gt;<br>
                    &lt;div class="box box-center"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;This is a box!<br>
                    &lt;/div&gt;<br>
                    &lt;div class="box box-bottom"&gt;&lt;a style="float: right"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;b&gt;Next&lt;/b&gt;&lt;/a&gt;<br>
                    &lt;/div&gt;<br>
                    <br>
                    &lt;div class="box" style="background-image: url(...); height: 40px;"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;This is a box!<br>
                    &lt;/div&gt;<br>
                    <br>
                    &lt;div class="box red"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Error: Please try again!<br>
                    &lt;/div&gt;<br>
                </code>

                <h2 id="image">Image</h2>
                
                <img src="../resources/Image.jpg" alt="image">
                <img src="../resources/Icon.jpg" height="128px" alt="icon">

                <code>
                    &lt;img src="../resources/Image.jpg" alt="image"&gt;
                </code>
                
                <h2 id="video">Video</h2>
                
                <video width="100%" controls>
                    <source src="video.mp4" type="video/mp4">
                    <source src="video.ogg" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>

                <code>
                    &lt;video width="100%" controls&gt; <br>
                    &ensp;&ensp;&ensp;&ensp;&lt;source src="video.mp4" type="video/mp4"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;source src="video.ogg" type="video/ogg"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Your browser does not support HTML5 video.<br>
                    &lt;/video&gt;
                </code>
                
                <div class="youtube">
                    <iframe src="https://www.youtube.com/embed/r2nblrwCMeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <code>
                    &lt;div class="youtube"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;iframesrc="https://www.youtube.com/embed/r2nblrwCMeA"&gt;<br>
                    &lt;/div&gt;
                </code>

                <h2 id="audio">Audio</h2>
                
                <audio controls>
                    <source src="music.mp3" type="audio/mpeg">
                    Your browser does not support HTML5 audio.
                </audio>

                <code>
                    &lt;audio controls&gt; <br>
                    &ensp;&ensp;&ensp;&ensp;&lt;source src="audio.mp3" type="video/mp3"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Your browser does not support HTML5 audio.<br>
                    &lt;/audio&gt;
                </code>

                <h2 id="media">Media</h2>
                
                <div class="media">
                    <img src="../resources/Icon.jpg">
                    <div class="media-content">
                        <h5>Title</h5>This is a Text
                    </div>
                </div>

                <code>
                    &lt;div class="media"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;img src="icon.png"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;div class="media-content"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;h5&gtTitle&lt;/h5&gt;This is a Text<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;/div&gt;<br>
                    &lt;/div&lt;
                </code>

                <h2 id="labels">Labels</h2>
                
                <label>Default</label>
                <label class="blue">Info</label>
                <label class="green">Success</label>
                <label class="yellow">Warning</label>
                <label class="red">Error</label>
                <samp>Samp Code</samp>
                <kbd>Space</kbd>
                Text
                
                <code style="margin-top: 20px;">
                    &lt;label&gt;Default&lt;/label&gt;<br>
                    &lt;label class="blue"&gt;Info&lt;/label&gt;<br>
                    &lt;label class="green"&gt;Success&lt;/label&gt;<br>
                    &lt;label class="yellow"&gt;Warning&lt;/label&gt;<br>
                    &lt;label class="red"&gt;Error&lt;/label&gt;<br>
                    &lt;samp&gt;Samp Code&lt;/samp&gt;<br>
                    &lt;kbd&gt;Space&lt;/kbd&gt;<br>
                </code>
                
                <h2 id="code">Code</h2>
                
                <code>
                    @Override<br>
                    public static void main(String[] args) {<br>
                    &ensp;&ensp;&ensp;&ensp; System.out.println("This is a Test");<br>
                    }<br>
                </code>
                
                <code>
                    &lt;code&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;@Override&lt;br&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;public static void main(String[] args) {&lt;br&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; System.out.println("This is a Test");&lt;br&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;}&lt;br&gt;<br>
                    &lt;/code&gt;<br>
                </code>
                
                <h2 id="pre">Pre (Console and Code)</h2>
                
                <pre>This is a Test</pre>
                
                <code>&lt;pre&gt; This is a Test &lt;/pre&gt; </code>
                
                <h2 id="var">Var (Formula)</h2>
                
                <code><var>f(x) = 2x<sup>2</sup> + 5x +7</var></code>
                
                <code> &lt;var>f(x) = 2x&lt;sup>2&lt;/sup> + 5x +7&lt;/var> </code>
                
                <h2 id="table">Table</h2>
                
                <div style="overflow-x:auto; border-radius: 5px;">
                    <table>
                        <tr><th>Name</th><th>Author</th><th>Parts</th></tr>
                        <tr><td>Harry Potter</td><td>J. K. Rowling</td><td>7</td></tr>
                        <tr><td>Lord of the Rings</td><td>J. R. Tolkien</td><td>3</td></tr>
                    </table>
                </div>

                <code>
                    &lt;div style="overflow-x:auto; border-radius: 5px;"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;table&gt;<br>

                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;th&gt;Name&lt;/th&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;th&gt;Author&lt;/th&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;th&gt;Parts&lt;/th&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;/tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;Harry Potter&lt;/td&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;J. K. Rowling&lt;/td&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;7&lt;/td><br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;/tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;Lord of the Rings&lt;/td&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;J. R. Tolkien&lt;/td&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;td&gt;3&lt;/td&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&lt;/tr&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;/table&gt;<br>
                    &lt;/div&gt;
                </code>

                <h2 id="list">List</h2>

                <div class="row">
                    <div class="col-md-6">
                        <ul><li>Video.mp4</li><li>MyVideo.mp4</li><li>YouTube.mp4</li></ul>
                    </div>
                    <div class="col-md-6">
                        <ol><li>Video.mp4</li><li>MyVideo.mp4</li><li>YouTube.mp4</li></ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="navigation-list"><li>Video.mp4</li><li>MyVideo.mp4</li><li>YouTube.mp4</li></ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="item-list"><li>Video.mp4</li><li>MyVideo.mp4</li><li>YouTube.mp4</li><li>Test.mp4</li></ul>
                    </div>
                </div>

                <ul class="menu-list menu-centered-4"><li>Video.mp4</li><li>MyVideo.mp4</li><li>YouTube.mp4</li><li>Test.mp4</li></ul>
                
                <code>
                    &lt;ul&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Video.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;MyVideo.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;YouTube.mp4&lt;/li&gt;<br>
                    &lt;/ul&gt;<br>
                    <br>
                    &lt;ol><br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Video.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;MyVideo.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;YouTube.mp4&lt;/li&gt;<br>
                    &lt;/ol&gt;<br>
                    <br>
                    &lt;ul class="navigation-list"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Video.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;MyVideo.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;YouTube.mp4&lt;/li&gt;<br>
                    &lt;/ul&gt;<br>
                    <br>
                    &lt;ul class="item-list"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Video.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;MyVideo.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;YouTube.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Test.mp4&lt;/li&gt;<br>
                    &lt;/ul&gt;<br>
                    <br>
                    &lt;ul class="menu-list menu-centered-4"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;Video.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;MyVideo.mp4&lt;/li&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;li&gt;YouTube.mp4&lt;/li&gt;<br>
                    &lt;/ul><br>
                </code>
                      
                <h2 id="form">Form</h2>

                <form>
                    Name:<input type="text">
                    Email:<input type="email">
                    Text:<textarea></textarea>
                    <input type="submit" value="Submit">
                </form>

                <code>
                    &lt;form&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Name:<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;input type="text"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Email:<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;input type="email"&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;Text:<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;textarea&gt;&lt;/textarea&gt;<br>
                    &ensp;&ensp;&ensp;&ensp;&lt;input type="submit" value="Submit"&gt;<br>
                    &lt;/form&gt;<br>
                </code>

            </div>
        </div>
            
    </body>
</html>