<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#004dbf">
        <link href="../resources/style.css" rel="stylesheet">
        <script src="../resources/script.js"></script>
        <link href="../resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>
        
        <div class="menu">
            <a class="menu-title">Form</a>
        </div>
      
        <div class="container" style="max-width: 500px;">
            <h1 style="margin-bottom: 0px">Form</h1>
            <span style="color: #808080">Example form</span><br><br>
            <form>
                <p>
                    Name:
                    <input type="text">
                    Email:
                    <input type="email">
                    Text:
                    <textarea></textarea>
                    <input type="submit">
                </p>
            </form>
            
        </div>
        
    </body>
</html>