<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#004dbf">
        <link href="../resources/style.css" rel="stylesheet">
        <link href="../resources/theme.css" rel="stylesheet">
        <script src="../resources/script.js"></script>
        <link href="../resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body class="grey">
      
        <div class="container document" style="margin-top: 50px">
            <h1>Form</h1>
            <p class="subtitle">This is a example from!</p>
            
            <div class="row">
                <div class="col-sm-3">Name:</div>
                <div class="col-sm-9"><input type="text"></div>
                
                <div class="col-sm-3">E-Mail:</div>
                <div class="col-sm-9"><input type="email"></div>
                
                <div class="col-sm-3">Text:</div>
                <div class="col-sm-9"><input type="submit"></div>
                
            </div>
            
        </div>
        
    </body>
</html>