<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#003ecc">
        <link href="../resources/style.css" rel="stylesheet">
        <script src="../resources/script.js"></script>
        <link href="../resources/favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>
        
        <div id="smart-menu" class="menu">
            <img src="../icons/menu.svg" class="only-mobile" onclick="toggleSmartMenu()">
            <a class="menu-title" href="../">Simple Web Design</a>
            <a href="../components">Components</a>
            <a href="../colors">Colors</a>
            <a class="menu-active" href="">Templates</a>
        </div>
        
        <div class="container">
            
            <h1>Templates</h1>
            
            <a href="form.html" target="_blank" class="white"><div class="box">Form</div></a>
            <a href="document.html" target="_blank" class="white"><div class="box">Document</div></a>
            
        </div>
        
    </body>
</html>