<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000000">
        <link href="../style.css" rel="stylesheet">
        <script src="../script.js"></script>
        <link href="../favicon.png" rel="icon">
        <title>Simple Web Design</title>
    </head>
    <body>
        
        <div class="menu menu-sticky" id="smart-menu">
            <a href="../" class="menu-title">SimpleWebDesign</a>
            <a href="../">Overview</a>
            <a href="../components/">Components</a>
            <a>Design</a>
            <a class="menu-active">Templates</a>
            <a class="more" onclick="toggleMenu()">More</a>
        </div>
        
        <div class="container row">
            <div class="col-md-6">Image</div>
            <div class="col-md-6"><h2>Article</h2><p>Article</p></div>
        </div>
        
        <div class="container row">
            <div class="col-md-6">Image</div>
            <div class="col-md-6"><h2>Documentation</h2><p>Documentation</p></div>
        </div>
                    
    </body>
</html>